In [8]:
import pandas as pd

df_dept = pd.read_csv('departments.csv')
df_dept_emp = pd.read_csv('dept_emp.csv')
df_dept_mger = pd.read_csv('dept_manager.csv')
df_employee = pd.read_csv('employees.csv')
df_salary = pd.read_csv('salaries.csv')
df_title = pd.read_csv('titles.csv')

In [9]:
print(df_dept.head(2))

  dept_no  dept_name
0    d001  Marketing
1    d002    Finance

In [10]:
print(df_dept_emp.head(2))

   emp_no dept_no   from_date     to_date
0   10001    d005  1986-06-26  9999-01-01
1   10002    d007  1996-08-03  9999-01-01

In [11]:
print(df_dept_mger.head(2))

  dept_no  emp_no   from_date     to_date
0    d001  110022  1985-01-01  1991-10-01
1    d001  110039  1991-10-01  9999-01-01

In [12]:
print(df_employee.head(2))

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21

In [13]:
print(df_salary.head(2))

   emp_no  salary   from_date     to_date
0   10001   60117  1986-06-26  1987-06-26
1   10002   65828  1996-08-03  1997-08-03

In [14]:
print(df_title.head(2))

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01
1   10002            Staff  1996-08-03  9999-01-01